		* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #142b47;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
}

nav a:hover {
	color: #ffd700;
}

.logo img {
	height: 50px;
}

.menu-toggle {
	display: none;
}

.master{
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 768px) {
	.menu-toggle {
		display: block;
		cursor: pointer;
	}

	nav {
		display: none;
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		background-color: #142b47;
		padding: 10px;
	}

	nav a {
		display: block;
		margin: 10px;
	}

	header.active nav {
		display: block;
	}
}

.hero {
	
	background-size: cover;
	background-position: center;
	padding-top: 100px;
	text-align: center;
	color: #142b47;
}

.hero h1 {
	font-size: 48px;
	margin-bottom: 30px;
}

.hero p {
	font-size: 26px;
	line-height: 1.5;
	max-width: 900px;
	margin: 0 auto;
}

.services {
padding: 100px 0;
text-align: center;
}

.services h2 {
font-size: 36px;
margin-bottom: 50px;
color: #142b47;
}

.service-container {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
}
.service {
background-color: rgba(20, 43, 71, 0.7);
padding: 50px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin: 20px;
width: 300px;
text-align: center;
border-radius:10px;
}

.service i {
font-size: 50px;
color: skyblue;
margin-bottom: 20px;
}

.service h3 a{
font-size: 40px;
margin-bottom: 20.5px;
color: skyblue;
text-decoration: none;
}

.service span {
font-size: 29px;
line-height: 1.5;
color: skyblue;
width: 100%;
}

@media (max-width: 1090px) {
.service-container {
flex-direction: column;
align-items: center;
}
.service {
width: 70%;
border-radius:15px;
}

.service i {
font-size: 100px;
color: skyblue;
margin-bottom: 20px;
}

.service h3 a{
font-size: 65px;
margin-bottom: 20.5px;
color: skyblue;
text-decoration: none;
}

.service span {
font-size: 35px;
line-height: 1.5;
color: skyblue;
width: 100%;
}

}

@media (min-width: 769px) and (max-width: 1200px) {
.service-container {
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
max-width: 1200px;
max-width: 1200px;
}
}

.aboutus {
	padding: 100px 0;
	text-align: center;
}

.aboutus h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

.aboutus p {
	font-size: 18px;
	line-height: 1.5;
	max-width: 800px;
	margin: 0 auto;
}

